{% extends 'base.html' %}

{% block title %}Reservation Detail{% endblock %}


{% block content %}
{% load humanize %}

{% if object %}
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <div class="working-hours">
            <div class="hours"> 입금자 명 : {{object.name}}</div>
            <div class="hours"> 입금 금액 : {{object.amount|intcomma}}</div>
            <div class="hours"> Email : {{object.email}}</div>
            <div class="hours"> 연락처 : {{object.contact}}</div>
            <div class="hours"> 이용시간(h) : {{object.time}}</div>
            <div class="hours"> 인원수 : {{object.num_people}}</div>
            <div class="hours"> 대여 물품 : {{object.text}}</div>
        </div>

        <a href="{% url 'appointment:delete' object.id %}"
           class="btn btn-outline-dark float-right">Delete</a>
        <a href="{% url 'appointment:update' object.id %}"
           class="btn btn-outline-secondary float-right mr-2">Update</a>

        {% else %}
        <form action="" method="post">
            {% csrf_token %}

            {{form.as_p}}
            <input type="submit" value="Check" class="btn btn-dark">
        </form>
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}